.slider{
	padding-top: 20px;
}
.item video{
	margin: 0 10px;
	padding: 5px;
	border: 2px solid red;
}

/*portfolio filter*/

.portfolio-filter{
	text-align: center;
}


.portfolio-filter ul li{

	list-style: none;
	display: inline-block;
	padding: 12px 12px;
	border: 1px solid #ddd;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 700;
}
.portfolio-filter ul li:active{
	background-color: grey;
	

}

.grid{
	width: 100%;
}

.grid .element-item{

	width: 200px;
	float: left;
	margin-bottom: 10px;
}
